.grid {
	width: 1000px;
	border: 1px solid #ddd;
	border-spacing: 0px;
}

.body {
	height: 500px;
	overflow-y: scroll;
}

.header {
	overflow-y: scroll;
}

.row {
	display: flex;
}

.cell {
	flex: 1;
	border: 1px solid #ddd;
	border-top-style: none;
	border-right-style: none;
}

.selected {
	background: aqua;
}